extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura


block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada blandit lacus ut cursus. Vestibulum nibh sem, rutrum in nisi nec, ullamcorper suscipit libero. Nam non purus nunc. Nulla laoreet dolor lorem, sit amet tempus tortor eleifend non. Donec diam eros, volutpat sit amet nulla nec, tempus dignissim tortor. Morbi suscipit gravida fringilla. 
                p Etiam vel nunc sit amet libero feugiat mattis. Donec condimentum tincidunt magna vitae bibendum. Donec eleifend ultrices interdum. Aenean eu interdum diam. Vestibulum est tortor, bibendum sed aliquet ac, pretium quis dolor. Nam a laoreet magna. Praesent finibus dictum justo vehicula placerat. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")

        include  ./layout/bloque_viajes
    
    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales