extends ./layout/index

block contenido
    main.container.mt-5 
        .row   
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit a nulla id porttitor. Donec rhoncus dui non magna eleifend, sed congue quam accumsan. Donec orci nunc, volutpat a tristique at, porta iaculis massa. Suspendisse elementum nulla erat, a ultrices nunc iaculis aliquam. Donec pellentesque erat vitae justo viverra iaculis. Donec scelerisque augue nunc, id vehicula augue laoreet eget. Morbi pretium velit id metus hendrerit egestas. Integer mattis at mi vitae tempus.

                p Vestibulum sed sollicitudin massa, in dapibus est. Nunc lobortis aliquam neque nec luctus. Vestibulum gravida lacus in nibh condimentum pellentesque. Vivamus feugiat ullamcorper ante, eget auctor libero sodales sit amet. Proin orci elit, cursus ac mollis et, tempus at lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus nulla, cursus vitae vehicula vulputate, tristique a mauris. Suspendisse potenti. Suspendisse potenti. Proin euismod vel leo nec feugiat. Fusce mattis dictum lacus, eget tempor ligula tincidunt ut. In quam urna, accumsan sit amet dui quis, mattis scelerisque sapien. 

                p Nulla in eleifend quam. Aliquam a libero et sem convallis vulputate. Aliquam eget lobortis dui. Integer metus dui, placerat vitae vulputate et, gravida et orci. Fusce id dapibus nunc, quis condimentum sem. Cras feugiat fermentum leo ut gravida. Pellentesque aliquet interdum tellus et faucibus. Donec dictum velit nec erat pretium vestibulum.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras feugiat fermentum leo ut gravida. Pellentesque aliquet interdum tellus et faucibus. Donec dictum velit nec erat pretium vestibulum.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras feugiat fermentum leo ut gravida. Pellentesque aliquet interdum tellus et faucibus. Donec dictum velit nec erat pretium vestibulum.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Cras feugiat fermentum leo ut gravida. Pellentesque aliquet interdum tellus et faucibus. Donec dictum velit nec erat pretium vestibulum.

    

    